/*/////////////////////////////////////// login page CSS//////////////////////////////////////////////// */

.loginContainer {
  background-image: url(Images/loginBackgroundImage.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.loginPageContent {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcomeHeading {
  padding-top: 12%;
  padding-bottom: 0px;
  opacity: 0.7;
}

.projectHeading {
  padding-bottom: 5%;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.4;
  font-size: medium;
  font-weight: bold;
}

.hr-text::before {
  content: "";
  /* // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar */
  background: linear-gradient(to right, transparent, white, transparent);
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 3px;
}

.hr-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
  /* // this is really the only tricky part, you need to specify the background color of the container element... */
  color: black;
  background-color: #fcfcfa;
}

#loginButton {
  padding-top: 3%;
  margin: auto;
}

/* ///////////////////////////////////////CSS for SideBar//////////////////////////////////////////// */

.filterHeading {
  padding-top: 8.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
  margin-left: 0%;
  color: white;
  background-color: #489fb5;
  height: 4vh;
  font-size: 14px;
  font-weight: bold;
}

.pfilterHeading {
  padding-bottom: 2%;
}

.filterContainer {
  padding-left: 5%;
}

.left-panel {
  padding-top: 1%;
  position: fixed;
  background-color:#ffecd1;
  height: 87.5vh;
  overflow-y: scroll;
  width: 18vw;
  margin-left: 0%;
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  
  background:#489fb5;  
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8e2dc;
}

.pfilter {
  color: rgb(36, 34, 34);
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 0%;
}

.span-style {
  font-size: 12px;
  opacity: 0.7;
  margin-left: 3%;
}

.form-check-label {
  font-size: 13px;
}

.form-range {
  width: 85%;
  padding-left: 10%;
  padding-top: 0px;
  margin-bottom: 0px;
  display: block;
}

.form-range::-webkit-slider-thumb {
  background: #489fb5;
}

.form-range::-moz-range-thumb {
  background: #489fb5;
}

.form-range::-ms-thumb {
  background: #489fb5;
}

.sliderParaLeft,
.sliderParaRightExpereince,
.sliderParaRightBench {
  margin: 0%;
  padding: 0px 10%;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;
  display: inline;
}

.sliderParaRightExpereince {
  padding-left: 18%;
}

.sliderParaRightBench {
  padding-left: 14%;
}

.filterByBenchTime,
.filterBySkills {
  margin-top: 10%;
}

.skillsLabel {
  font-weight: 500;
  opacity: 0.8;
}

.button6 {
  height: 5vh;
  width:9vw;
  background-color: #489fb5;
  border: none;
  color:white;
  padding: 6px 15px 15px 15px;
  margin: 10px 7px 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
  opacity: 8;
}
.button6:hover{
  color: white;
  opacity: 0.8;
}
/* //////////////////////////////////////CSS for NAVBAR/////////////////////////////////////////////// */

.NavbarComponent {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  height: 8%;
  width: 100%;
  background-color: #16697a;
  color: white;
  position: fixed;
  z-index: 10;
}

.logoContainer {
  height: 10%;
  object-fit: contain;
  width: 18%;
  padding-top: 0%;
  padding-bottom: 1%;
  padding-left: 1%;
  position: fixed;
}

.logoImageClass {
  height: 100%;
  width: 85%;
  object-fit: contain;
}

.NavbarHeading {
  margin-left: 44%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-size: 20px;
  font-weight: 600;
}

.profile {
  background-color: #16697a;
  opacity: 0.9;
  width: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 89%;
}
.googleImage{
  height: 22%;
  width: 22%;
  border-radius: 100%;
  padding: 0px;
  margin: 0px;
  margin-right: 5%;
}
.dropdown-menu {
  margin: 0px;
  padding: 0px;
  min-width: 6vw !important;
  max-height: 6vh !important;
}
.userIcon {
  margin-right: 6%;
}


/* ///////////////////////////////////CSS for Rendering_Admin ///////////////////////////////////////*/

.window {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.bottom {
  display: flex;
  flex-direction: row;
  gap: 0.2%;
}

.bottom-right {
  height: 90vh;
}

.statistics {
  background-color: #489fb5;
  height: 4%;
  width: 1320%;
  color: white;
  position: fixed;
  padding-left: 2%;
  padding-top: 0.1%;
  font-size: 14px;
  font-weight: bold;
}

.row {
  padding: 1%;
  margin-top: 2.1%;
  margin-left: 0.1%;
  background-color: #ffecd1;
  width: 82.8%;
  display: flex;
  flex-direction: row;
  gap: 20%;
  position: fixed;

}
.card{
  width: 22vw;
  background-color:#d8e2dc;
  border: none;
  box-shadow: 3px 3px 3px #022028;
  margin-left: 45%;
}

.card-title {
  color: rgb(67, 64, 64);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.card-text {
  color: rgb(67, 64, 64);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.button4 {
  height: 5vh;
  width:9vw;
  background-color: #489fb5;
  border: none;
  color: rgb(24, 23, 23);
  padding: 6px 15px 15px 15px;
  margin: 0px 0px 0px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
}
.button4:hover{
  color: white;
  opacity: 0.8;
}
.employees {
  font-size: 14px;
  font-weight: bold;
  padding-left: 2%;
  padding-top: 0.5%;
}

.btn {
  font-size: 10px;
  justify-content: center;
  font-weight: bold;
}

.actions {
  height: 8%;
  margin-top: 10.4%;
  color: white;
  background-color: #489fb5;
  display: flex;
  flex-direction: row;
  gap: 37.5%;
  padding: 0.5%;
  width: 82.8%;
  position: fixed;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 4%;
  padding-bottom: 1%;
}

.buttons-manager-dashboard{
  display: flex;
  flex-direction: row;
  gap: 4%;
  padding-bottom: 1%;
  margin-left: 17%;
}
.search-box1{
margin-top:0.5% ;
height: 5vh;
width:12vw;
border-top-left-radius:  12px;
border-bottom-left-radius: 12px;
margin-right: 0px;
border: none;

}

.search-box2 {
  margin-top: 0.5%;
  height: 5vh;
  width: 12vw;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-right: 0px;
  margin-left: 300px;
  border: none;
}

.search {
  margin-top: 0.5%;
  height: 5vh;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #fff;
  align-items: center;
}


.number {
  background-color: #d8e2dc;
  width: 82.8%;
  position: fixed;
  margin-top: 14.4%;
  padding-left: 2%;
  padding-top: 0.2%;
  height: 4vh;
  font-size: 12px;
}

.table-format {
  height: 56.7vh;
  width: 81.7vw;
  margin-top: 20.2%;
  overflow-y: auto;
  background-color: #ffecd1;
}

.tableHeader{
  position: sticky;
  top: 0px;
  background-color: #ffecd1;
}

.pointer-to-profile{
  color:#489fb5;
  width: 15%;
  
}

.table-align-left{
  text-align:left;
  padding-left: 8%;
}

.pointer-to-profile:hover{
  cursor:pointer;
  transition:ease-in-out 0.01s;

}

.nopointer-to-profile{
  cursor:context-menu;

}

.button5 {
  height: 5vh;
  width: 6vw;
  background-color: #489fb5;
  border: none;
  color:white;
  padding: 6px 15px 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  margin: 2px 0px;
  cursor: pointer;
  border-radius: 12px;
  opacity: 8;
}
.button5:hover{
  color: white;
  opacity: 0.8;
}


/*///////////////////////////////////////// CSS FOR MODAL////////////////////////////////////////////// */

.button2 {
  height: 5vh;
  width: 14vw;
  background-color: white;
  border: none;
  color: rgb(24, 23, 23);
  padding: 6px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  margin: 2px 0px;
  cursor: pointer;
  border-radius: 12px;
}

.button2:hover{
  opacity: 0.8;
}

.button3 {
  height: 5vh;
  width: 8vw;
  background-color: #489fb5;
  border: none;
  color: white;
  padding: 8px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  margin: 3px 3px;
  cursor: pointer;
  border-radius: 12px;
}
.button3:hover{
  opacity: 0.8;
}

.btn-mngr{
  margin-top: 4%;
  margin-left: 21%;
  margin-bottom: 4%;
}

.thread2 {
  text-align: center;
}

.thread1 {
  text-align: center;
}
/*///////////////////////////////////////////// CSS FOR VIEW EMPLOYEE////////////////////////////////////// */

.profile-window{
 
  display: flex;
  flex-direction: column;
}

.for-back{
  display: flex;
  flex-direction: row;
  gap:85%
}

.profile-photo{
  align-items: center;
  height: 25vh;
  width: 25vh;
  margin: 1% 6% 1% 44%;
}

.shadow1{
  margin: 5% 4.5% 0% 4.5%;
  background-color:#ffecd1;
  box-shadow: 10px 10px 10px rgb(125, 125, 125);
}

.shadow2{
  margin: 0% 4.5% 0% 4.5%;
  background-color:#ffecd1;
  box-shadow: 10px 10px 10px rgb(125, 125, 125);
}

.profile-headings{
  padding-left: 1%;
  margin-top: 0.5%;
  margin-bottom: 3%;
  background-color: #489fb5;
  text-align:left;
  font-size: larger;
  font-weight:500;
  color: white;
}

.details-personal{
  display: flex;
  flex-direction: row;
  gap:25%;
}
.details-work{
  display: flex;
  flex-direction: row;
  gap:23%;
}
.details-interview{
  display: flex;
  flex-direction: row;
  gap:27%;
}

.labels{
  color:rgb(170, 169, 169);
  margin-bottom: 0px;
  
}

.content{
  color: rgb(67, 66, 66);
  margin-top: 0px;
}


