
/* CSS for SideBar */

.left-panel {
  background-color: rgb(8, 8, 41);
  height: 100vh;
  overflow-y: auto;
  width: 17vw;
  margin-left:0%;
  color: white;
}
.logoContainer{
  padding: 5% 3%;
}

.logoImageClass{
  height: 100%;
  width: 85%;
  object-fit: contain;
}

.filterContainer{
  padding-top: 10%;
}
.filterByExperience{
  padding-top: 1%;
}
.form-range{
  width: 80%;
  padding-left: 10%;
  padding-top: 0px;
  margin-bottom: 0px;
  display: block;
}
.sliderParaLeft, .sliderParaRightExpereince
,.sliderParaRightBench {
  margin: 0%;
  padding: 0px 12%;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;
  display: inline;
}
.sliderParaRightExpereince{
  padding-left: 18%;
}
.sliderParaRightBench{
  padding-left: 14%;
}
.filterByBenchTime,.filterBySkills {
  margin-top: 10%;
}


/* CSS for Cards_Tables */

.cardsTableMain {
  display: flex;
  flex-direction: row;
  background-color: rgb(8, 8, 41);
  color: white;
}

.cards-table {
  height: 100vh;
  width: 83%;
  margin-left: 17%;
  margin-top: 0%;
  margin-right: 0%;
  position: fixed;
}

.search {
  color: white;
  height: 5.7%;
  align-items:end;
}

.cards-heading {
  padding-top: 1%;
}
.table-heading {
  background-color: rgb(210, 216, 216);
  height: 8%;
}

.table-subheading {
  padding-top: 1%;
  height: 6%;
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;

  text-align: center;
  height: 1.5em;
  opacity: 0.4;
}
.hr-text::before {
  content: "";
  /* // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar */
  background: linear-gradient(to right, transparent, white, transparent);
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 3px;
}
.hr-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
  /* // this is really the only tricky part, you need to specify the background color of the container element... */
  color: black;
  background-color: #fcfcfa;
}
